@model DBMS_RMS_PROJECT.Models.tbl_User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tbl_User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.U_Fname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U_Fname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.U_Lname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U_Lname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.U_Mobile_No)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U_Mobile_No)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.U_Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U_Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.U_Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U_Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.U_Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U_Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.U_Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.U_Password)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.U_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
