@model DBMS_RMS_PROJECT.Models.tbl_Passenger_Detial

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>tbl_Passenger_Detial</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.pd_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pd_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.pd_Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pd_Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.pd_Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pd_Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tbl_Passenger.p_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_Passenger.p_Name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.pd_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
